[core]
	editor = nvim
	autocrlf = input
[user]
	name = yassinehaddoudi
	email = yassine.haddoudi.it@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[alias]
	a = add
	ap = add -p
	b = branch
	br = branch -r
	bl = branch -l
	c = commit
	ca = commit --amend
	ck = checkout
	cm = commit -m	
	d = diff
	ds = diff --staged
	l = log
	ll = log --oneline
	r = restore
	rs = restore --staged
	s = status
	sh = show
	ss = status -s
	sw = switch
